<nav class="navbar shadow-sm fixed-top navbar-expand-lg navbar-dark bg-nav">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="bi bi-youtube"></i> RTube</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-light">
        <li><hr class="dropdown-divider"></li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li><hr class="dropdown-divider"></li>
      </ul>
    </div>
  </div>
</nav>
<div class="bg">
  <p class="title"><i class="bi bi-youtube"></i> YouTube Downloader</p>
  <div class="box " data-aos="zoom-in">
    <img src="<%= rtube.videoDetails.thumbnails[0] %>" class="img-thumbnail" alt="thumbnail">
    <div class="cbody">
    <div class="card-body">
      <hr class="dropdown-divider">
      <h5 class="card-title text-break"><%= rtube.videoDetails.title %></h5>
      <p class="card-text ct"><%= duration %></p>
      <p class="card-text ct"><%= rtube.videoDetails.author.name %> (<a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="<%= rtube.videoDetails.author.user_url %>"><%= rtube.videoDetails.author.user %></a>)</p>
      <hr class="dropdown-divider">
      <form action="/download" method="GET">
        <input type="url" name="url" value="<%= url %>" hidden>
        <input type="text" name="type" value="rtmp4" hidden>
        <input type="text" name="id" value="<%= idn %>" hidden>
        <button class="button" type="submit"><i class="bi bi-download"></i><span class="ms-2">Download Video (MP4)</span></button>
      </form>
      <form action="/download" method="GET">
        <input type="url" name="url" value="<%= url %>" hidden>
        <input type="text" name="type" value="rtmp3" hidden>
        <input type="text" name="id" value="<%= idn %>" hidden>
        <button class="button" type="submit"><i class="bi bi-music-note"></i><span class="ms-2">Download Audio (MP3)</span></button>
      </form>
      <hr class="dropdown-divider">
      <button onclick="window.location.href = '/';" class="button"><i class="bi bi-arrow-clockwise"></i><span class="ms-2">Download Other Video</span></button>
      <hr class="dropdown-divider">
      <h5>Share Us:</h5>
      <button type="button" class="buttons" id="share"><i class="bi bi-share-fill"></i><span class="ms-2">Share</span></button>
    </div>
    </div>
  </div>
</div>
<div class="space">
  
</div>
<div class="footer">
  <p class="foot-text">RTube by <a href="#">@RamDev</a></p>
</div>

<script src="/lib/bootstrap.min.js"></script>
<script src="/lib/aos.js"></script>
<script src="/js/root.js"></script>
<script src="/js/script.download.js"></script>
